[% META title = 'TestCommand Show' -%]
[% PROCESS site/show_upper -%]

<table>
<tr><th>id</th><td>[% model.id %]</td></tr>
<tr><th>command</th><td>[% model.command -%]</td></tr>
<tr><th>target</th><td>[% model.target -%]</td></tr>
<tr><th>value</th><td>[% model.value -%]</td></tr>
</table>
